@font-face {
  font-family: "Fredericka the Great";
  src: url(/assets/fonts/FrederickatheGreat-Regular.ttf) format("truetype");}
@font-face {
  font-family: "Love Ya Like A Sister";
  src: url(/assets/fonts/LoveYaLikeASister.ttf) format("truetype");}
@font-face {
    font-family: "Reenie Beanie";
  src: url(/assets/fonts/ReenieBeanie.ttf) format("truetype");}


html, body {
    font-family: "Love Ya Like A Sister";
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #6daf67;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    font-size: 2em;
    display: inline;
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: right;
    
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #6daf67;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #66bdff;
}

.noteForm {
    
    margin: auto;
    margin-top: 40px;
    display: block;
    border: 8px inset #3e8638;
    width: 40%;
    padding:20px;
    background-color: #6daf67;
}

.noteForm label {
    margin: auto;
    width: 50%;
    display: block;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    float:none;
    color: Black;
}
.noteForm textarea {
    margin: auto;
    width: 50%;
    height: 40px;
    display: block;
    font-size: 1.2em;
    float:none;
    color: black;
    background-color: white;
}


.noteForm input {
    margin: auto;
    width: 50%;
   display: block;
    float:none;
}

.makeNoteSubmit {
    padding: 10px !important;
    transition: background-color 0.4s ease !important;
    display: block !important;
    width: 90px !important;
    background-color: #6daf67 !important;
    border-radius: 2px !important;
    color: white !important;
    text-decoration: none !important;
    margin-top: 20px! important;
}

.makeNoteSubmit:link, .makeNoteSubmit:visited, .makeNoteSubmit:hover, .makeNoteSubmit:active {
    color: white;
}

.makeNoteSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #3e8638;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    border-radius: 10px;
    background-color: white;
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    border-radius: 2px;
    color: black;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #3e8638;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #6daf67;
}

#noteMessage {
    text-align: center;
    background-color: black;
    display:none;
    top: 0px;
    position: absolute;
    z-index: 200;
    overflow: hidden;
    left:50%;
    margin-left:-150px;
}

#noteMessage h3 {
    position: absolute;
    top: 0px;
}

#speech {
    height: 100px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    padding: 5px;
    vertical-align:middle;
    display: block;
    text-align: center;
    margin: auto;
    font-size: 1.5em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#note {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#notes {
    width: 40%;
    min-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}

.note {
    background-image: url("/assets/img/notePaper.jpg");
    width: 100%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #6daf67;
    min-height:60px;
    overflow: hidden;
}

.note:hover {
    transition: background-color 2.6s ease-out;
    background-color: #66bfff;
}

img.noteFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyNote {
    width: 400px;
    padding: 0px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

h3.noteTitle {
    margin-top: 40px;
    display: inline-block;
    text-align: center;
    width: 70%;
    font-weight: bold;
    font-size: 1.5em;
}

h3.noteDesc, h3.noteDiffLevel, noteDueDate{
    margin-top: 10px;
    padding: 0px;
    display: inline-block;
    text-align: center;
    width: 70%;
    font-size: 1.5em;
}



.noteItem{
    display: inline-block;
    text-align: center;
    font-size: 1em;
}

.noteEdit{
    position:relative;
    margin: auto;
    display: block;
    float: left;
    left:90%;
    margin-top: 40px;
    color: blue;
    vertical-align: top;
    font-size: 1em;
}
.note{
    box-shadow:  5px 10px #888888;
    display: inline-block;
    text-align: center;
    font-size: 1em;
}

#noteUpdate, #noteDelete{
    color: blue;
    float:right;
    vertical-align: top;
    display: inline-block;
    padding-right:  10px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
    font-size: 1em;
} 

#editMessage, .backMessage{
    border: 8px inset #3e8638;
    box-shadow:  5px 10px #888888;
    margin: auto;
    width: 50%;
    background-color: #6daf67;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
}
#editMessage{
    font-size: 3em;
}
.backMessage{
    margin-top: 40px;
}

.backMessage:hover{
    background-color: aqua;
}

.noteEdit:hover, #noteUpdate:hover, #noteDelete:hover{
    transition: color .1s;
    color: red;
}


.note:first-child {
    margin-top: 40px;
}

.note:last-child {
    margin-bottom:10px;
    
}


.siteTitle{
    font-family: 'Fredericka the Great', cursive;
    margin-top: 10px;
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
}

body{
    background-image: url("/assets/img/schoolpattern.jpg");
    background-repeat: repeat;
}
.mainForm div{
    padding: 15px;
    background-color: #6daf67;
     border-radius: 25px;
}
#loginButton, #signupButton{
    text-shadow: 2px 2px 4px #808080;
    background-color: white;
    color: black;
}
.note label, .note input, .note textarea{
    margin: auto;
    width: 50%;
    display: block;
    margin-top: 10px;
}

#testad1{
    font-size: 8em;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
    margin-top: 100px;
    margin-left: 20px;
    float: left;
    width: 20%;
    display: block;
    background-color: aqua;
    
}

#testad2{
    font-size: 8em;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
    margin-top: 100px;
    margin-right: 20px;
    float: right;
    width: 20%;
    display: block;
    background-color: aqua;
    
}